*{
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(245, 220, 153);
    text-align: center;
    height: 150px;
    margin: 0.5%;
}
.content{
    overflow: hidden;
}
.left_content{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 600px;
    width: 69.5%;
    float: left;
    margin-left: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.right_content{
    background-color: rgb(255, 255, 255);
    text-align: center;
    height: 600px;
    width: 29%;
    float: right;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}
.top{
    height: 30%;
    text-align: center;
    background-color: rgb(182, 170, 136);
    margin-bottom: 1%;
}
.middle{
    background-color: rgb(255, 255, 255);
    height: 39%;
    text-align: center;
    margin-bottom: 1%;
     
}
.bottom{
    height: 27.5%;
    text-align: center;
    background-color: rgb(155, 141, 80);
     
}
.middle_left{
    height: 100%;
    width: 20%;
    background-color: rgb(255, 231, 125);
    float: left;
    margin-right: 1%;
}
.middle_right{
    height: 100%;
    width: 79%;
    background-color: rgb(158, 124, 50);
    float: right;
}
.right_top{
    height: 40%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2%;
}
.right_bottom{
    height: 58%;
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}
.left_one{
    height: 100%;
    width: 50%;
    background-color: rgb(143, 134, 93);
    float: left;
    margin-right: 2%;
     
    
}
.right_one{
    height: 100%;
    width: 48%;
    background-color: rgb(119, 103, 50);
    float: right;
}
.left_two{
    height: 100%;
    width: 30%;
    background-color: rgb(255, 222, 132);
    float: left;
    margin-right: 2%;
}
.right_two{
    height: 100%;
    width: 68%;
    background-color: rgb(212, 159, 97);
    float: right;
}
.footer{
    background-color: rgb(245, 220, 153);
    text-align: center;
    height: 100px;
    margin: 0.5%;
     
}
.blank{
    background-color: rgb(238, 211, 56);
    height: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
}